HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/


## Build files ###
base/target
liquibase/target
web-api/target
web-app/target
web-app/build
web-app/node
web-app/node_modules
web-app/dist
web-app/package-lock.json


moviesdb.mv.db
moviesdb.trace.db


**/.DS_Store